html, body { width: 100%; height: 100%; }

#wrapper { width: 100%; height: 100%; opacity: 0; }

hr.one { width: 86%; margin: 0 auto; border-top: 1px solid #00228f; }
hr.two { width: 86%; margin: 0 auto; border-top: 1px solid #b7b7b7; }

.title-wrapper { padding: 5vw 0vw; }
.title-wrapper h1.title { font: normal 11.4vw Helvetica; text-align: center; color: #00228f; }

.subtitle-wrapper { padding: 5vw 0vw; width: 86%; margin: 0 auto; }
.subtitle-wrapper p { margin-bottom: 5vw; font: normal 3.2vw Courier; color: #00228f; }
.subtitle-wrapper p:last-child { margin-bottom: 0px; }
.subtitle-wrapper a { text-decoration: underline; font: normal 3.2vw Courier; color: #00228f; }

.about { width: 86%; margin: 0 auto; padding: 5vw 0vw; }
.about p { width: 100%; height: 11vw; font: normal 3.2vw Helvetica; color: #00228f; }
.about p a { font: normal 1.8vw Helvetica; color: #00228f; }

.search-wrapper { position: relative; width: 86%; margin: 0 auto; padding: 6vw 0vw; }
.search-wrapper form { text-align: center; }
.search-wrapper form select { outline: none; border: 0; font: normal 3.2vw Courier; color: #00228f; }
.search-wrapper .expand-all { position: absolute; top: calc(50% - 4vw); left: 0px; background: url("../img/expand.collapse.jpg?v=001") center center no-repeat; width: 8vw; height: 8vw; background-size: 200% 100%; background-position: 100% 0%; }
.search-wrapper .expand-all.on { background-position: 0% 0%; }
.search-wrapper .play-all { position: absolute; top: calc(50% - 4vw); right: 0px; background: url("../img/play.jpg?v=001") center center no-repeat; width: 8vw; height: 8vw; background-size: 100% 100%; }
.search-wrapper.playing .play-all { display: none; }

@-webkit-keyframes move1 {
    0% { height: 16%; }
    25% { height: 66%; }
    75% { height: 50%; }
    100% { height: 16%; }
}

@-webkit-keyframes move2 {
    0% { height: 5%; }
    25% { height: 41%; }
    75% { height: 66%; }
    100% { height: 5%; }
}

@-webkit-keyframes move3 {
    0% { height: 25%; }
    25% { height: 5%; }
    75% { height: 66%; }
    100% { height: 25%; }
}

.search-wrapper .playing-anim { cursor: pointer; height: 8vw; display: none; width: 6vw; float: right; position: relative; }
.search-wrapper.playing .playing-anim { display: block; position: absolute; top: 10px; right: 5px; }
.search-wrapper .playing-anim .bar { background-color: #00228f; bottom: 0px; position: absolute; height: 1vw; width: .8vw; }
.search-wrapper .playing-anim .bar.one {  right: 0vw; -webkit-animation: move1 infinite 1s linear; }
.search-wrapper .playing-anim .bar.two { right: 1.1vw; -webkit-animation: move2 infinite 1s linear; }
.search-wrapper .playing-anim .bar.three { right: 2.4vw; -webkit-animation: move3 infinite 1s linear; }

.addasong-wrapper { width: 86%; margin: 0 auto; position: relative; padding: 6vw 0vw; }
.addasong-wrapper .addasongbutton { background: #00228f; width: 100%; padding: 6vw 0px; border-radius: 4vw; }
.addasong-wrapper .addasongbutton p { color: white; text-align: center; font: normal 6vw Helvetica; }
.addasong-wrapper form.addsongform { margin: 0 auto; display: none; }
.addasong-wrapper form.addsongform input { width: 100%; height: 10vw; padding-left: 3vw; box-sizing: border-box; margin-bottom: 3vw; border-radius: 2vw 2vw; border: 2px solid rgba(0, 34, 143, 1.000); outline: none; font: normal 3vw Helvetica; color: #00228f;}
.addasong-wrapper form.addsongform select { margin-bottom: 3vw; width: 100%; height: 10vw; border-radius: 2vw; padding: 0px 3vw; border-width: 2px; border-color: #00228f; outline: none; font: normal 3vw Helvetica; color: #00228f; }
.addasong-wrapper form.addsongform textarea { width: 100%; height: 20vw; margin-bottom: 3vw; border-radius: 3vw; padding: 3vw; box-sizing: border-box; resize: none; border-width: 2px; border-color: #00228f; outline: none; font: normal 3vw Helvetica; color: #00228f; }
.addasong-wrapper form.addsongform .submit { margin: 0 auto; background: #00228f; width: 40%; padding: 4vw 0px; border-radius: 4vw; }
.addasong-wrapper form.addsongform .submit p { color: white; text-align: center; font: normal 5vw Helvetica; }
.addasong-wrapper form.addsongform .required { border-color: red; }
.addasong-wrapper .thanks { width: 100%; text-align: center; text-align: center; font: normal 5vw Helvetica; color: #00228f; position: absolute; top: calc(50% - 12vw); display: none; }

ul.songs { width: 86%; margin: 0 auto; position: relative; }
ul.songs li.song { position: relative; padding: 5vw 0vw; border: 1px solid #b7b7b7; border-width: 0px 0px 1px 0px; font: normal 3vw Helvetica; color: #00228f; }
ul.songs li.song.pending { opacity: .6; }
ul.songs li.song .expand { display: none; }
ul.songs li.song.open .expand { display: block; }
ul.songs li.song:last-child { border-width: 0px 0px 0px 0px; }
ul.songs li.song .expand .song-file-under { margin-bottom: 3vw; }
ul.songs li.song .expand .playsong { font: normal 3.2vw Courier; text-decoration: underline; background: url("../img/playsong_justplay.jpg?v=001") center center no-repeat; background-size: 3vw 3vw; background-position: 0% 0%; padding-left: 4vw; line-height: 2.9vw; }
ul.songs li.song .expand .playsong.playing { background: url("../img/pause.jpg?v=001") center center no-repeat; background-size: 3vw 3vw; background-position: 0% 0%; padding-left: 4vw; }
ul.songs li.song .toggle-song-view { width: 9vw; height: 9vw; position: absolute; top: 2vw; right: 0px; background: url("../img/expand.song.jpg?v=001") center center no-repeat; background-size: 200% 100%; background-position: 100% 0%; }
ul.songs li.song .toggle-song-view.open { background-position: 0% 0%; }

.contact { padding: 5vw 0vw; width: 86%; margin: 0 auto; font: normal 3.2vw Courier; color: #00228f; }
.contact a { text-decoration: underline; font: normal 3.2vw Courier; color: #00228f; }

.rip { width: 86%; margin: 0 auto; padding: 8vw 0vw; }
.rip img { display: block; width: 18vw; margin: 0px auto 3vw auto; }
.rip p { text-align: center; font: normal 3.2vw Courier; color: #00228f; }

#song-template { display: none; }